[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "==3.0.0"
requests = "==2.19.1"
python-dateutil = "==2.7.0"
flask = "==1.0.1"
mock = "==1.2.0"
pillow = "==8.1.1"
simplejson = "==3.16.0"
unittest2 = {version = "==1.0.1", markers="python_version < '2.7.9' or (python_version >= '3.0' and python_version < '3.4')"}

[dev-packages]
pillow = "==8.1.1"

[requires]
python_version = "3.6"
